server/node_modules/picomatch/lib/scan.js
server/node_modules
server/.env
web_client/node_modules
web_client/node_modules/.cache/.eslintcache
web_client/node_modules/.cache/default-development/0.pack
web_client/node_modules/.cache/default-development/1.pack
web_client/node_modules/.cache/default-development/index.pack
web_client/node_modules/.cache/default-development/index.pack.old
