#dependencies
**node_modules
/node_modules/.cache/.eslintcache
/node_modules/.cache/default-development/0.pack
/node_modules/.cache/default-development/index.pack
/node_modules/.cache/default-development/index.pack.old