#state-change-true{
    position: relative;
    margin-left: 250px;
    transition: 0.6s;
  }
#state-change-false{
    position: relative;
    margin-left: 100px;
    transition: 0.6s;
  }

#headnurse-donor-details{
    position:absolute;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 100px 100px 200px 5px #FCD0D9;
    width:1000px;
    height:570px;
    margin-left: 10%;
    margin-top: 3%;
}  

#donor-photo-headnurse{
    position:absolute;
    /*background: rgba(255, 255, 255, 0.5);*/
    box-shadow: 100px 100px 200px 5px #FCD0D9;
    width:250px;
    height:570px;
    margin-left: 0%;
    margin-top: 0%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /*background: rgba(175, 173, 173, 0.5);
    background: rgba(241, 109, 109, 0.5);*/
    background-color: rgba(255, 182, 182, 1);
}

#donor-img-details{
    position:absolute;
    width:100px;
    height:100px;
    margin-top: 50px;
    margin-left: 65px;
   

}

#donor-pic{
    position:absolute;
    width:250px;
    height:200px;
    margin-left: 0%;
    margin-top: 0%;
    /*background: rgba(241, 109, 109, 0.5);*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(255, 182, 182, 1);

}

#don-name{
    position: absolute;
    margin-top: 20px;
    font-size: large;
    margin-left: 20%;
    color:white;

}

#name-tag-user{
    position:absolute;
    background: rgba(243, 195, 195, 0.71);
    box-shadow: 100px 100px 200px 5px #FCD0D9;
    width:250px;
    height:65px;
    margin-left: 0%;
    margin-top: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

/*details */
#donor-details-p{
    margin-left: 300px;
    padding-top: 24px;
    color:dimgray;
}
#dot{
    position:absolute;
    width:250px;
    height:250px;
    margin-left: 700px;
    margin-top: 300px;
    opacity: 0.3;
}