#state-change-true-headnurse{
  position: relative;
  margin-left: 250px;
  transition: 0.6s;
}
#state-change-false-headnurse{
  position: relative;
  margin-left: 100px;
  transition: 0.6s;
}
#row1-headnurse{
display: flex;
}
#medical-staff-headnurse{
  width: 33%;
  height: 190px;
  background: rgba(255, 255, 255, 0.55);
  padding: 20px; 
  margin-left: 3%;
  border-radius: 20px;
  font-weight: 400;
  box-shadow: 20px 20px 100px 5px rgba(0, 0, 0, 0.2)
}

#users-count-headnurse{
  display: flex;
  margin-top: 6px;
}
#user-headnurse{
  position: absolute;
  left: 110px;
   
} 
#camp-headnurse{
  width: 36%;
  height: 190px;
  margin-left: 1%;
  padding:12px;
  /* padding-left: 2px; */
  padding-top: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 20px 20px 100px 5px rgba(0, 0, 0, 0.2)
}
#camp-count-headnurse{
  display: flex;
  margin-top: 10px;

}
#row2-headnurse{
  display: flex;
  margin-top: 20px;
  height: 300px;
  margin-left: 3%;
  
  border-radius: 20px;
  
}
#sub-row1-headnurse{
  display: flex;
  width:95%;
 
}
#sub-row2-headnurse{
  width:45%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 20px 20px 100px 5px rgba(0, 0, 0, 0.2);
  padding: 11px;
  padding-left: 50px;
}
#sub-row3-headnurse{
  width:55.9%;
  margin-left: 1%;

  display: flex;
} 

#blood-headnurse{
  display: flex;
  margin-top: 20px;
}
#calender{
  position: absolute;
  right:10px;
}
#camp-events-headnurse{
  position: absolute;
  right:40px;
  top:360px;
  width: 23%;
  height: auto;
  border-radius: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 20px 20px 100px 5px rgba(0, 0, 0, 0.2)
}
#camp-events-list-headnurse{
  margin-top: 6px;
  padding:6px;
  background-color: aliceblue;
  border-radius: 11px;
}
#camp-events-name-headnurse{ 
  padding:10px;
}
#view-button-headnurse{
  background-color: rgba(255, 182, 182, 1);
  border: none;
  color: white;
  padding-left: 9px; 
  padding-right: 9px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 11px;
  font-size: 16px;
}
#blood-month-dashboard-headnurse{
  width:50%;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 20px 20px 100px 5px rgba(0, 0, 0, 0.2);
  padding: 3px;
  padding-top: 11px;
  padding-left: 48px;
  border-radius: 10px;
}

/*#chart-dashboard{
  margin-top: -270px;
  width:103%;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 20px 20px 100px 5px rgba(0, 0, 0, 0.2);
  padding: 3px;
  padding-left: 6px;
  padding-top: 10px;
  border-radius: 11px;
  height: 300px;
  margin-left: 105%;
      
} */
#row3-headnurse{
  display: flex;
  margin-top: 20px;
  margin-left: 44px;
}
#sub-row5-headnurse{
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 20px 20px 100px 5px rgba(0, 0, 0, 0.2);
  width: 20%;
  padding-left: 6px;
  padding-top: 10px;
  border-radius: 11px;
  height: 280px
}
#sub-row6-headnurse{
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 20px 20px 100px 5px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding-left: 6px;
  padding-top: 10px;
  margin-left: 1%;
  border-radius: 11px;
  height: 280px
}
@media screen and (max-width: 1460px){
  #row1-headnurse{
      display: block;
       /* left: -20px; */
  }
  #medical-staff-headnurse{
      
      padding-left: 11%; 
      width: 67%;
  }
  #camp-headnurse{
      margin-top: 11px;
      padding-left: 11%; 
      width: 67%;
  }
  #row2-headnurse{
      margin-top: 11px;
      padding-left: 11%; 
      width: 67%;
  }
}  