#user-contanier-admin{
    margin-top:20px;
    padding-top: 20px;
    width:98%;
    border-radius: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    height: 100%;
    background: rgba(255, 255, 255, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h7{
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #946f6f;
    text-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
    margin-left: 30px;
}
#input-user-admin{
    padding: 6px;
    border-radius: 15px;
    border-color: #F79CAE;
    width: 30%;
    margin-left: 40%;
    height: 30px;
    font-size: 17px;
}
#add-user-button-admin{
    color: white;
    margin-left: 3%;
    width: 8%;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    background: rgba(221, 45, 80, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#user-table-admin{
    border-collapse: collapse;
    width: 100%;
}
#user-table-admin td, #user-table-admin th {
    border-radius: 1px solid rgba(253, 223, 229, 0.956) ;
    padding: 8px;   
    text-align: center;
    
  }
  
  #user-table-admin tr:nth-child(even){
    background-color: rgba(253, 223, 229, 0.4) ;}
  
  #user-table-admin tr:hover {
    background-color: rgba(253, 223, 229, 0.4) ;}
  
  #user-table-admin th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(221, 45, 80, 0.26);
    color: rgb(77 54 54);
    /* font-style: revert; */
    font-size: 16px;
    font-weight: 550;
    font-family: system-ui;
    width: 8%;
  }
  #user-action-admin{

  }
  #view-user-button-admin{
    width: 70%;
    height: 27px;
    border-radius: 20px;
    border: none;
    background: #FB6281;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    color: white;
  }
  #remove-user-button-admin{
    width: 65%;
    height: 27px;
    border-radius: 20px;
    border: none;
    background: #8D8484;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    color: white;
  }