*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800px;
 }
 #member{
   position: relative;
   width: 82%;
   height: 245px;
   left: 240px;
   background: rgba(255, 255, 255, 0.55);
   border-radius: 30px;
   margin-bottom:20px ;
 }
 #raw2{
  position: relative;
    display: flex;
    width: 82%;
    /* max-width: 150px; */
    height: 235px;
    left: 240px;
    border-radius: 30px;
    margin-bottom: 10px;
    /* background: rgb(255 255 255 / 32%); */
    /* box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);*/
}

.box1{
  /* width: 15%;
  height: 200px;
  margin-right: 10px;
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%); */
  width: 15%;
  height: 200px;
  margin-right: 10px;
  margin-right: 20px;
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.box2{
  width: 25%;
  height: 240px;
  margin-right: 10px;
  border-radius: 20px;
  /* margin-top: 10px; */
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box3{
  width: 33%;
  height: 240px;
  margin-right: 10px;
  border-radius: 20px;
  /* margin-top: 10px; */
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 h1{
   font-size: 18px;
    font-weight: bold;
    color: #605858;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
 }
 #raw3{
  position: relative;
  display: flex;
  width: 82%;
  /* max-width: 150px; */
  height: 300px;
  left: 240px;
  border-radius: 30px;
  /* margin-bottom: 10px; */
  /* margin-top: 25px; */
  /* background: rgb(255 255 255 / 51%); */
}
.box4{
  width: 81%;
    height: 240px;
    margin: 30px 20px;
    border-radius: 20px;
    /* margin-top: 10px; */
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.box5{
  width: 35%;
  height: 260px;
  margin: 20px 0px;
  border-radius: 20px;
  /* margin-top: 10px; */
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}