#headNurse-contanier{
    margin-left: 52px;
    margin-top:20px;
    padding-top: 20px;
    width:90%;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 11px;
    height:620px;
    background: rgba(255, 255, 255, 0.79);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#input-headNurse{
    position: absolute;
    right: 300px;
    top:130px;
    width:300px;
    height: 30px;
    border-radius: 10px;
    border-color: rgba(221, 45, 80, 1);
    padding:11px;
    margin-top: 10px;
    box-shadow: red;
    border-style: hidden;
    border-color: rgba(221, 45, 80, 1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, FontAwesome ;
    font-size: 19px; 
    outline-style: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #ccc;
    color: rgb(19, 19, 19)
}
#add-headNurse{
    position: absolute;
    right: 180px;
    top:135px;
    background-color:rgb(255, 177, 192) ;
    border: none;
    color: rgb(27, 25, 25);
    padding: 11px;
    margin-left: 11px;
    padding-left: 11px; 
    padding-right:11px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 11px;
    font-size: 16px;


}
#headNurse-table {
    margin-left: 63px;

    border-collapse: collapse;
    width: 86%;
  }

  #headNurse-table td, #headNurse-table th {
    border-radius: 1px solid rgba(253, 223, 229, 0.956) ;
    padding: 8px;   
    text-align: center;

  }

  #headNurse-table tr:nth-child(even){background-color: rgba(253, 223, 229, 0.4) ;}

  #headNurse-table tr:hover {background-color: rgba(253, 223, 229, 0.4) ;}

  #headNurse-table th {
    padding-top: 12px;
    padding-bottom: 12px;

    text-align: center;
    background-color:rgba(221, 45, 80, 0.26);
    color: rgb(21, 19, 19);
  }
 #headNurse-number{
    border-top-left-radius: 12px;
 }
 #headNurse-action{
    border-top-right-radius: 12px;
 }

#view-button-headNurse-view{
    background-color:rgba(141, 132, 132, 1);
    border: none;
    color: white;
    padding: 6px;
    margin-left: 11px;
    padding-left: 11px; 
    padding-right:11px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 11px;
    font-size: 16px;
}
#view-button-headNurse-remove{
    background-color:rgb(255, 177, 192) ;
    border: none;
    color: white;
    padding: 6px;
    margin-left: 11px;
    padding-left: 11px; 
    padding-right:11px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 11px;
    font-size: 16px;
}
.page-navigation{
    padding: 6px;
}
#headNurse-pageButton{
    position: absolute;
    right:190px;
    bottom: 6px; 
    width: 170px;
    padding: 6px; 
    border-radius: 11px;
    padding-bottom: 10px; 
    background-color:rgba(221, 45, 80, 0.441)
}