#input-donate-date{
    position: absolute;
    left: 260px;
    top:100px;
    width:300px;
    height: 35px;
    border-radius: 20px;
    border-color: rgba(221, 45, 80, 1);
    padding:11px;
    margin-top: 10px;
    box-shadow: red;
    border-style: hidden;
    border-color: rgba(221, 45, 80, 1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, FontAwesome ;
    font-size: 19px; 
    outline-style: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    /*border: 2px solid #ccc;*/
    color: /*rgb(19, 19, 19)*/rgba(221, 45, 80, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#camp-container1{
    position: absolute;
    width: 300px;
    height: 450px;
    left: 300px;
    top: 217px;

    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
#camp-container2{
    position: absolute;
    width: 300px;
    height: 450px;
    left: 1350px;
    top: 217px;

    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
#camp-container3{
    position: absolute;
    width: 300px;
    height: 450px;
    left: 650px;
    top: 217px;

    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
#camp-container4{
    position: absolute;
    width: 300px;
    height: 450px;
    left: 1000px;
    top: 217px;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}