:root{
    background-color: rgba(253, 223, 229, 0.313);
}
#backgroundimg{
    position: absolute;
    width: 1400px;
    height: 600px;
    margin-top: 0px;
    margin-left: 250px;
    Opacity: 45%;
    border-radius: 20px;
}
#tableContainer{
    position: absolute;
    width: 75%;

    height: 450px;
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 150px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
}
#input-camp-date{
    position: absolute;
    right: 150px;
    top:10px;
    width:300px;
    height: 30px;
    border-radius: 20px;
    border-color: rgba(221, 45, 80, 1);
    padding:11px;
    margin-top: 10px;
    box-shadow: red;
    border-style: hidden;
    border-color: rgba(221, 45, 80, 1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, FontAwesome ;
    font-size: 19px; 
    outline-style: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    /*border: 2px solid #ccc;*/
    color: /*rgb(19, 19, 19)*/rgba(221, 45, 80, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#d-camp-details-table{
    margin: auto;
    margin-top: 75px;
    border-collapse: collapse;
    width: 80%;
}
#d-camp-details-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:rgba(221, 45, 80, 0.26);
    color: rgb(56, 51, 51);
  }
#d-camp-details-table td, #d-camp-details-table th {
    border-radius: 1px solid rgba(253, 223, 229, 0.956) ;
    padding: 8px;   
    text-align: center;
    height: 45px;
}
#d-camp-details-table tr:nth-child(even){
    background-color: rgba(253, 223, 229, 0.4) ;}
  
#d-camp-details-table tr:hover {
    background-color: rgba(253, 223, 229, 0.4) ;}
#d-camp-details-table td a{
    color: rgba(255, 101, 101, 1);
}

#d-camp-details-table-pageButton{
    position: absolute;
    right:150px;
    bottom: 30px; 
    width: 200px;
    padding: 6px; 
    border-radius: 11px;
    padding-bottom: 10px; 
    background-color:rgba(221, 45, 80, 0.441)
}
.page-navigation{
    padding: 6px;
    color: rgb(92, 88, 88);
}
 