#register-form{
    position: absolute;
    width: 846px;
    height: 400px;
    left: 450px;
    top: 100px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#register-form-name{
    position: absolute;
    
    left: 200px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
/* identical to box height */

    letter-spacing: 0.02em;

    color: #FF6565;
}
#register-form-camp-name{
    position: absolute;
    
    left: 200px;
    top: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.02em;

    color: #FF6565;
}