 
.container1{
    position: relative;
    z-index:21;
    width: 85%;
    height: 80vh;
    margin-left: 7.5%;
    margin-top: -90vh;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
#vector1{
    height: 100vh;
    width: 55%;
}
#vector2{
    position: absolute;
    height: 100vh;
    width: 45%;
 
 
}
#imageLogin{
    position: absolute;
    margin-left: 50%;
    margin-top: -46vh;
    height: 53vh;
    width:67vh;
}
#iconContainer{
  
    margin-left: 23%;
    padding-top : 12vh; 
    width:22vh;
 
}
#icon{
    margin-left: 22px;
    height: 8vh;
    width : 12vh;
}
#iconName{
    color:rgba(221, 45, 80, 1);
}
#loginForm{
    position: relative;
    margin-left: 18%;
    top: 30px;
}
 
#input{
    width:250px;
    height: 40px;
    border-radius: 10px;
    border-color: rgba(221, 45, 80, 1);
    padding:11px;
    margin-top: 10px;
    box-shadow: red;
    border-style: hidden;
    border-color: rgba(221, 45, 80, 1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, FontAwesome ;
    font-size: 20px; 
    outline-style: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #ccc;
    color: rgb(19, 19, 19)

}
#input:focus {
    border: 2px solid rgb(241, 33, 33);
  }
#signIn{
    width:250px; 
    height: 40px;
    margin-top: 12px;
    border-radius: 10px;
    background-color: rgba(221, 45, 80, 1);
    color: aliceblue;
    border-style: hidden;
    border-color: rgba(221, 45, 80, 1);

}
#signIn:hover{
    background-color: rgb(231, 98, 125);
    font-weight: 500;
}
#forgetPassword{
    text-decoration: none;
    padding-left: 55px;
    color: black;
}
#forgetPassword:hover{
    color:rgba(221, 45, 80, 1);
}
#errorMessage{
    padding-left: 40px;
    font-size: 12px;
    color:rgba(221, 45, 80, 1);
}
#message{
    padding: 11px;
    width:250px;
    border-radius: 11px;
    font-size: 15px;
    background-color:rgb(231, 98, 125);
    color:rgb(255, 255, 255);
}